<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="productRepository"
          class="m59_spring_core_intro.practice.task05.InMemoryProductRepository"/>

    <bean id="productService"
          class="m59_spring_core_intro.practice.task05.ProductService">
        <constructor-arg ref = "productRepository"/>
    </bean>

    <bean id="priceService"
          class="m59_spring_core_intro.practice.task05.PriceService">
        <constructor-arg ref = "productRepository"/>
    </bean>


</beans>